#mac
.DS_Store

# laravel
approot/.env
approot/node_modules
approot/public/storage
approot/storage/*.key
# approot/vendor
approot/.idea
approot/Homestead.json
approot/Homestead.yaml

approot/storage/framework/views/*
approot/storage/debugbar/*
approot/public/.htaccess

# wordpress
approot/public/note/wp-config.php
approot/public/note/wp-content/uploads/*

# me
.para/*
.doc/*

#sass
prepros-6.config
